/* line 3, ../sass/foundation-overrides.scss */
select {
  margin-top: 7px;
}

/* line 8, ../sass/foundation-overrides.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  margin: 0 0 15px 0;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  font-size: 15px;
  font-family: "Trebuchet MS" "Helvetica" "Arial";
}
/* line 17, ../sass/foundation-overrides.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  outline: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  background: none;
}

/* line 25, ../sass/foundation-overrides.scss */
textarea {
  line-height: 25px;
}
/* line 27, ../sass/foundation-overrides.scss */
textarea:focus {
  outline: none;
  border-bottom: 0;
  background: url(../images/textarea.png) repeat 0 5px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 35, ../sass/foundation-overrides.scss */
.label {
  font-weight: bold;
  margin: 5px 0;
  padding: 2px 4px 2px;
}
/* line 39, ../sass/foundation-overrides.scss */
.label.round {
  padding: 2px 7px 2px;
}
/* line 42, ../sass/foundation-overrides.scss */
.label.radius {
  padding: 1px 4px 1px;
}

/* line 47, ../sass/foundation-overrides.scss */
.button {
  width: auto;
  background: #BB0C35;
  border: 0;
  border-bottom: 4px solid #9d0b2c;
  padding: 15px 26px 13px;
}
/* line 54, ../sass/foundation-overrides.scss */
.button:hover, .button:focus {
  background-color: #9D0B2C;
  border-bottom: 4px solid #9d0b2c;
  outline-color: white;
}
/* line 59, ../sass/foundation-overrides.scss */
.button.small {
  padding: 10px 15px 7px;
  border-bottom: 2px solid #9d0b2c;
}
/* line 63, ../sass/foundation-overrides.scss */
.button.nulled {
  padding: 10px 15px 7px;
  border-bottom: 2px solid #b7b5b5;
  background-color: #e6e6e6;
}

/* line 71, ../sass/foundation-overrides.scss */
.panel {
  border: 0;
  border-bottom: 5px solid #b4b5b4;
  background: whitesmoke;
  margin-bottom: 10px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 77, ../sass/foundation-overrides.scss */
.panel.nopadding {
  padding: 0;
}

/* line 82, ../sass/foundation-overrides.scss */
p {
  line-height: 1.4;
}

/* line 87, ../sass/foundation-overrides.scss */
form.custom div.custom.dropdown a.current {
  border: 0;
  line-height: 31px;
  min-height: 31px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 94, ../sass/foundation-overrides.scss */
form.custom div.custom.dropdown a.selector {
  border: 0;
  width: 32px;
  height: 28px;
  margin-top: 2px;
  border-left: 1px solid #dddddd;
}

/* line 102, ../sass/foundation-overrides.scss */
form.custom div.custom.dropdown.open ul {
  position: absolute;
  height: 150px;
  top: -9px;
}

/* line 109, ../sass/foundation-overrides.scss */
.error input, input.error, .error textarea, textarea.error, .error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {
  background-color: #e4a4af;
}

/* line 113, ../sass/foundation-overrides.scss */
div.alert-box {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 9px 20px 9px;
}
/* line 114, ../sass/foundation-overrides.scss */
div.alert-box a.close {
  top: 6px;
  color: transparent;
  background-color: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  padding: 0px 4px 3px;
  opacity: .6;
  line-height: .9;
}
/* line 122, ../sass/foundation-overrides.scss */
div.alert-box a.close:hover {
  opacity: .9;
}
/* line 129, ../sass/foundation-overrides.scss */
div.alert-box.success {
  background-color: #55C896;
}

/* line 134, ../sass/foundation-overrides.scss */
.nav-bar {
  overflow: hidden;
  margin-bottom: 0;
}
/* line 137, ../sass/foundation-overrides.scss */
.nav-bar li {
  border: 0;
  line-height: 40px;
}
/* line 140, ../sass/foundation-overrides.scss */
.nav-bar li:first-child {
  font-weight: bold;
}
/* line 143, ../sass/foundation-overrides.scss */
.nav-bar li:last-child {
  border: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
/* line 147, ../sass/foundation-overrides.scss */
.nav-bar li a {
  margin: 0 16px;
  height: 40px;
}

/* line 154, ../sass/foundation-overrides.scss */
.block-grid.five-up h4 {
  margin: 2px 0;
}

/* line 158, ../sass/foundation-overrides.scss */
a:focus {
  outline-color: lightgray;
}
