/* line 3, ../sass/foundation-overrides.scss */
select {
  margin-top: 7px;
}

/* line 8, ../sass/foundation-overrides.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  margin: 0 0 15px 0;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  font-size: 15px;
  font-family: "Trebuchet";
}
/* line 17, ../sass/foundation-overrides.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  outline: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 24, ../sass/foundation-overrides.scss */
label {
  font-weight: bold;
  margin: 5px 0;
}

/* line 29, ../sass/foundation-overrides.scss */
.button {
  width: auto;
  background: #BB0C35;
  border: 0;
  border-bottom: 4px solid #9d0b2c;
  padding: 15px 30px 13px;
}
/* line 36, ../sass/foundation-overrides.scss */
.button:hover, .button:focus {
  color: white;
  background-color: #9D0B2C;
}

/* line 43, ../sass/foundation-overrides.scss */
.panel {
  border-bottom: 5px solid #b4b5b4;
  background: #ECECEC;
  margin-bottom: 10px;
}
/* line 47, ../sass/foundation-overrides.scss */
.panel.nopadding {
  padding: 0;
}

/* line 52, ../sass/foundation-overrides.scss */
p {
  line-height: 1.4;
}
