/* line 5, ../sass/new.scss */
.link_default ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 8, ../sass/new.scss */
.link_default ul.expo li {
  width: 50%;
  margin-left: 20px;
}
/* line 11, ../sass/new.scss */
.link_default ul.expo li.date {
  width: 18%;
}
/* line 17, ../sass/new.scss */
.link_default ul.artist li {
  width: 28%;
  margin-left: 20px;
}
/* line 23, ../sass/new.scss */
.link_default ul.fairs li {
  width: 16%;
  margin-left: 20px;
}
/* line 26, ../sass/new.scss */
.link_default ul.fairs li.name {
  width: 35%;
}
/* line 31, ../sass/new.scss */
.link_default ul li {
  float: left;
}
/* line 33, ../sass/new.scss */
.link_default ul li.handler {
  width: 2%;
  height: auto;
  margin: 0 auto;
  padding: 31px 0;
}
/* line 39, ../sass/new.scss */
.link_default ul li:last-child {
  margin-left: 20px;
}
