/* line 5, ../sass/new.scss */
body.bigpic1 {
  background: url(../images/bigbg.jpg) center top;
  border-top: 5px solid #9a1935;
}
/* line 9, ../sass/new.scss */
body.bigpic2 {
  background: url(../images/bigbg1.jpg) center top;
  border-top: 5px solid #9a1935;
}
/* line 13, ../sass/new.scss */
body.bigpic3 {
  background: url(../images/bigbg2.jpg) center top;
  border-top: 5px solid #9a1935;
}
/* line 17, ../sass/new.scss */
body.bigpic4 {
  background: url(../images/bigbg3.jpg) center top;
  border-top: 5px solid #9a1935;
}
/* line 21, ../sass/new.scss */
body.bigpic5 {
  background: url(../images/bigbg4.jpg) center top;
  border-top: 5px solid #9a1935;
}
/* line 25, ../sass/new.scss */
body.bigpic6 {
  background: url(../images/bigbg5.jpg) center top;
  border-top: 5px solid #9a1935;
}
/* line 29, ../sass/new.scss */
body.bigpic7 {
  background: url(../images/bigbg6.jpg) center top;
  border-top: 5px solid #9a1935;
}

/* line 36, ../sass/new.scss */
.link_default ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 39, ../sass/new.scss */
.link_default ul.expo li {
  width: 50%;
  margin-left: 20px;
}
/* line 42, ../sass/new.scss */
.link_default ul.expo li.date {
  width: 18%;
}
/* line 48, ../sass/new.scss */
.link_default ul.artist li {
  width: 28%;
  margin-left: 20px;
}
/* line 54, ../sass/new.scss */
.link_default ul.fairs li {
  width: 16%;
  margin-left: 20px;
}
/* line 57, ../sass/new.scss */
.link_default ul.fairs li.name {
  width: 35%;
}
/* line 62, ../sass/new.scss */
.link_default ul li {
  float: left;
}
/* line 64, ../sass/new.scss */
.link_default ul li.handler {
  width: 2%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 69, ../sass/new.scss */
.link_default ul li.handler a {
  position: relative;
  right: 2px;
  bottom: 4px;
}
/* line 75, ../sass/new.scss */
.link_default ul li:last-child {
  margin-left: 20px;
}

/* line 82, ../sass/new.scss */
.image-logos {
  height: 55px;
}

/* line 88, ../sass/new.scss */
header.intro h2 {
  color: white;
  line-height: 1.3;
}
/* line 92, ../sass/new.scss */
header.intro h5 {
  color: white;
  line-height: 1.8;
}

/* line 99, ../sass/new.scss */
.options {
  margin-top: 30px;
}
/* line 101, ../sass/new.scss */
.options h3 {
  color: white;
  font-size: 32px;
  margin: 0;
}
/* line 106, ../sass/new.scss */
.options h5 {
  color: white;
  line-height: 1.5;
  min-height: 55px;
}
/* line 111, ../sass/new.scss */
.options div {
  width: 50%;
}
/* line 113, ../sass/new.scss */
.options div.login {
  float: left;
  border-right: 1px solid white;
  padding-right: 30px;
}
/* line 118, ../sass/new.scss */
.options div.register {
  float: right;
  padding-left: 30px;
}

/* line 125, ../sass/new.scss */
.underline {
  text-decoration: underline;
}

/* line 129, ../sass/new.scss */
.asterix {
  color: #BB0C35;
  margin: 0 5px 0 0;
  font-weight: normal;
}

/* line 135, ../sass/new.scss */
.whitetxt {
  color: #fff;
}

/* line 139, ../sass/new.scss */
.bold {
  font-weight: bold;
}

/* line 143, ../sass/new.scss */
.inner-header {
  background-color: #F9f9f9;
  border-bottom: 1px solid white;
  padding: 20px;
}
/* line 147, ../sass/new.scss */
.inner-header h2 {
  margin: 3px 0;
}

/* line 152, ../sass/new.scss */
.container {
  padding: 20px;
}

/* line 157, ../sass/new.scss */
.mini-nav-header {
  position: relative;
  top: 20px;
}
/* line 160, ../sass/new.scss */
.mini-nav-header dl {
  float: right;
}
/* line 163, ../sass/new.scss */
.mini-nav-header dl dd h4 {
  line-height: .4;
  color: #666;
  font-size: 21px;
}
/* line 168, ../sass/new.scss */
.mini-nav-header dl dd a {
  background: white url(../images/handlers.jpg) no-repeat;
  display: inline-block;
  width: 33px;
  height: 33px;
  text-indent: -9000px;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 4px solid #e1e1e1;
}
/* line 177, ../sass/new.scss */
.mini-nav-header dl dd a.save {
  background: white url(../images/handlers/guardar.jpg) no-repeat;
  background-position: 3px 3px;
  text-indent: 0;
  width: 80px;
  color: #666666;
  padding-left: 25px;
  line-height: 2;
}
/* line 186, ../sass/new.scss */
.mini-nav-header dl dd a.prev {
  background-position: -17px 3px;
}
/* line 189, ../sass/new.scss */
.mini-nav-header dl dd a.next {
  background-position: -39px 3px;
}
/* line 192, ../sass/new.scss */
.mini-nav-header dl dd a:hover {
  border-bottom: 4px solid #cbcbcb;
}

/* line 201, ../sass/new.scss */
.form-data h5 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
}
/* line 206, ../sass/new.scss */
.form-data .label.secondary {
  padding: 4px 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 213, ../sass/new.scss */
.form-data .label.secondary:hover {
  color: #999999;
  background: #e0e0e0;
}
/* line 219, ../sass/new.scss */
.form-data form input[type="text"] {
  margin: 0 0 10px 0;
}
/* line 221, ../sass/new.scss */
.form-data form input[type="text"].no-margin {
  margin: 0;
}

/* line 228, ../sass/new.scss */
label {
  font-weight: bold;
  margin: 15px 0 8px;
}

/* line 233, ../sass/new.scss */
.intitle {
  padding: 5px 0;
}
/* line 236, ../sass/new.scss */
.intitle ul li {
  float: left;
  list-style-type: none;
}
/* line 241, ../sass/new.scss */
.intitle ul.expos li {
  width: 20%;
}
/* line 243, ../sass/new.scss */
.intitle ul.expos li:first-child {
  margin-left: 60px;
  width: 51%;
}
/* line 250, ../sass/new.scss */
.intitle ul.ferias li {
  width: 18%;
}
/* line 252, ../sass/new.scss */
.intitle ul.ferias li:first-child {
  margin-left: 60px;
  width: 36%;
}
/* line 259, ../sass/new.scss */
.intitle ul.artistas li {
  width: 29.4%;
}
/* line 261, ../sass/new.scss */
.intitle ul.artistas li:first-child {
  margin-left: 60px;
}

/* line 270, ../sass/new.scss */
.inner-footer {
  background-color: #eee;
}
/* line 272, ../sass/new.scss */
.inner-footer strong {
  line-height: 3;
}
/* line 275, ../sass/new.scss */
.inner-footer a {
  margin: 0 5px;
  font-weight: bold;
}

/* line 281, ../sass/new.scss */
.graytxt {
  color: #4C4C4C;
}

/* line 285, ../sass/new.scss */
.advisory {
  margin-bottom: 30px;
}
/* line 287, ../sass/new.scss */
.advisory span {
  font-size: 12px;
  color: #5b5b5b;
  display: block;
  line-height: 1.4;
}
/* line 293, ../sass/new.scss */
.advisory a {
  color: #000;
  text-decoration: underline;
}

/* line 299, ../sass/new.scss */
.redtxt {
  color: #BB0C35;
}

/* line 306, ../sass/new.scss */
.nav-bar li span.spriteArrow {
  background: url("../images/spriteArrow.jpg");
  height: 40px;
  width: 28px;
  display: inline-block;
  float: left;
}
/* line 313, ../sass/new.scss */
.nav-bar li span.number-menu {
  padding: 3px 8px;
}
/* line 317, ../sass/new.scss */
.nav-bar li:hover {
  background: transparent;
  cursor: pointer;
}
/* line 320, ../sass/new.scss */
.nav-bar li:hover a {
  color: #fff;
}
/* line 323, ../sass/new.scss */
.nav-bar li:hover span.number-menu {
  color: #bbb;
}
/* line 327, ../sass/new.scss */
.nav-bar li.active {
  background: #BB0C35;
}
/* line 330, ../sass/new.scss */
.nav-bar li.active span.spriteArrow {
  background-position: 0 -40px;
}
/* line 336, ../sass/new.scss */
.nav-bar li.active + li span.spriteArrow {
  background-position: 0 -80px;
}

/* line 346, ../sass/new.scss */
.doctype-data {
  width: 45%;
  float: left;
  height: 80px;
  display: inline-block;
}

/* line 353, ../sass/new.scss */
.docnumber-data {
  width: 38%;
  float: right;
  height: 80px;
  display: inline-block;
}

/* line 360, ../sass/new.scss */
.caption {
  color: #808080;
  margin: 10px 0;
  display: block;
}

/* line 366, ../sass/new.scss */
.block {
  display: block;
  height: 80px;
}

/* line 371, ../sass/new.scss */
input[type="file"] {
  margin: 15px 0;
}

/* line 376, ../sass/new.scss */
img.selected {
  border: 0;
  -webkit-box-shadow: rgba(187, 12, 53, 0.2) 0 0 10px;
  -moz-box-shadow: rgba(187, 12, 53, 0.2) 0 0 10px;
  box-shadow: rgba(187, 12, 53, 0.2) 0 0 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 390, ../sass/new.scss */
.artBO {
  background: url("../images/sprite_new.png") 0 0;
  display: inline-block;
  text-indent: -9999px;
  height: 60px;
  width: 115px;
  margin: 20px 10px;
}

/* line 396, ../sass/new.scss */
.ccB {
  background: url("../images/sprite_new.png") -120px 0;
  display: inline-block;
  text-indent: -9999px;
  height: 60px;
  width: 180px;
  margin: 20px 10px;
}
