/* line 17, ../sass/new.scss */
body.bigpic1 {
  background: black url(../images/bigbg.jpg) center top;
  background-image: url(../images/bigbg1.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}
/* line 23, ../sass/new.scss */
body.bigpic2 {
  background: black url(../images/bigbg1.jpg) center top;
  background-image: url(../images/bigbg1.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}
/* line 29, ../sass/new.scss */
body.bigpic3 {
  background: black url(../images/bigbg2.jpg) center top;
  background-image: url(../images/bigbg2.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}
/* line 35, ../sass/new.scss */
body.bigpic4 {
  background: black url(../images/bigbg3.jpg) center top;
  background-image: url(../images/bigbg3.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}
/* line 41, ../sass/new.scss */
body.bigpic5 {
  background: black url(../images/bigbg4.jpg) center top;
  background-image: url(../images/bigbg4.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}
/* line 47, ../sass/new.scss */
body.bigpic6 {
  background: black url(../images/bigbg5.jpg) center top;
  background-image: url(../images/bigbg5.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}
/* line 53, ../sass/new.scss */
body.bigpic7 {
  background: black url(../images/bigbg6.jpg) center top;
  background-image: url(../images/bigbg6.jpg);
  background-color: #000;
  border-top: 5px solid #9a1935;
}

/* line 62, ../sass/new.scss */
.link_default ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../sass/new.scss */
.link_default ul.expo li {
  width: 50%;
  margin-left: 20px;
}
/* line 68, ../sass/new.scss */
.link_default ul.expo li.date {
  width: 18%;
}
/* line 74, ../sass/new.scss */
.link_default ul.artist li {
  width: 28%;
  margin-left: 20px;
}
/* line 80, ../sass/new.scss */
.link_default ul.fairs li {
  width: 16%;
  margin-left: 20px;
}
/* line 83, ../sass/new.scss */
.link_default ul.fairs li.name {
  width: 35%;
}
/* line 88, ../sass/new.scss */
.link_default ul li {
  float: left;
}
/* line 90, ../sass/new.scss */
.link_default ul li.handler {
  width: 2%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 95, ../sass/new.scss */
.link_default ul li.handler a {
  position: relative;
  right: 2px;
  bottom: 4px;
}
/* line 101, ../sass/new.scss */
.link_default ul li:last-child {
  margin-left: 20px;
}

/* line 108, ../sass/new.scss */
.image-logos {
  height: 55px;
}

/* line 114, ../sass/new.scss */
header.intro h2 {
  color: white;
  line-height: 1.3;
}
/* line 118, ../sass/new.scss */
header.intro h5 {
  color: white;
  line-height: 1.8;
}

/* line 125, ../sass/new.scss */
.options {
  margin-top: 30px;
}
/* line 127, ../sass/new.scss */
.options h3 {
  color: white;
  font-size: 32px;
  margin: 0;
}
/* line 132, ../sass/new.scss */
.options h5 {
  color: white;
  line-height: 1.5;
  min-height: 55px;
}
/* line 137, ../sass/new.scss */
.options div {
  width: 50%;
}
/* line 139, ../sass/new.scss */
.options div.login {
  float: left;
  border-right: 1px solid white;
  padding-right: 30px;
}
/* line 144, ../sass/new.scss */
.options div.register {
  float: right;
  padding-left: 30px;
}

/* line 151, ../sass/new.scss */
.underline {
  text-decoration: underline;
}

/* line 155, ../sass/new.scss */
.asterix {
  color: #BB0C35;
  margin: 0 5px 0 0;
  font-weight: normal;
}

/* line 161, ../sass/new.scss */
.whitetxt {
  color: #fff;
}

/* line 165, ../sass/new.scss */
.bold {
  font-weight: bold;
}

/* line 169, ../sass/new.scss */
.inner-header {
  background-color: #F9f9f9;
  border-bottom: 1px solid white;
  padding: 20px;
}
/* line 173, ../sass/new.scss */
.inner-header h2 {
  margin: 3px 0;
}

/* line 178, ../sass/new.scss */
.container {
  padding: 20px;
}

/* line 183, ../sass/new.scss */
.mini-nav-header {
  position: relative;
  top: 20px;
}
/* line 186, ../sass/new.scss */
.mini-nav-header dl {
  float: right;
}
/* line 189, ../sass/new.scss */
.mini-nav-header dl dd h4 {
  line-height: .4;
  color: #666;
  font-size: 21px;
}
/* line 194, ../sass/new.scss */
.mini-nav-header dl dd a {
  background: white url(../images/handlers.jpg) no-repeat;
  display: inline-block;
  width: 33px;
  height: 33px;
  text-indent: -9000px;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 4px solid #e1e1e1;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 206, ../sass/new.scss */
.mini-nav-header dl dd a.save {
  background: white url(../images/handlers/guardar.jpg) no-repeat;
  background-position: 3px 3px;
  text-indent: 0;
  width: 80px;
  color: #666666;
  padding-left: 25px;
  line-height: 2;
}
/* line 215, ../sass/new.scss */
.mini-nav-header dl dd a.prev {
  background-position: -17px 3px;
}
/* line 218, ../sass/new.scss */
.mini-nav-header dl dd a.next {
  background-position: -39px 3px;
}
/* line 221, ../sass/new.scss */
.mini-nav-header dl dd a:hover {
  border-bottom: 4px solid #cbcbcb;
}

/* line 230, ../sass/new.scss */
.form-data h5 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
}
/* line 235, ../sass/new.scss */
.form-data .label.secondary {
  padding: 4px 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 242, ../sass/new.scss */
.form-data .label.secondary:hover {
  color: #999999;
  background: #e0e0e0;
}
/* line 248, ../sass/new.scss */
.form-data form input[type="text"] {
  margin: 0 0 10px 0;
}
/* line 250, ../sass/new.scss */
.form-data form input[type="text"].no-margin {
  margin: 0;
}

/* line 257, ../sass/new.scss */
label {
  font-weight: bold;
  margin: 15px 0 8px;
  cursor: default;
}

/* line 263, ../sass/new.scss */
.intitle {
  padding: 5px 0;
}
/* line 266, ../sass/new.scss */
.intitle ul li {
  float: left;
  list-style-type: none;
}
/* line 271, ../sass/new.scss */
.intitle ul.expos li {
  width: 20%;
}
/* line 273, ../sass/new.scss */
.intitle ul.expos li:first-child {
  margin-left: 60px;
  width: 51%;
}
/* line 280, ../sass/new.scss */
.intitle ul.ferias li {
  width: 18%;
}
/* line 282, ../sass/new.scss */
.intitle ul.ferias li:first-child {
  margin-left: 60px;
  width: 36%;
}
/* line 289, ../sass/new.scss */
.intitle ul.artistas li {
  width: 29.4%;
}
/* line 291, ../sass/new.scss */
.intitle ul.artistas li:first-child {
  margin-left: 60px;
}

/* line 300, ../sass/new.scss */
.inner-footer {
  background-color: #eee;
}
/* line 302, ../sass/new.scss */
.inner-footer strong {
  line-height: 3;
}
/* line 305, ../sass/new.scss */
.inner-footer a {
  margin: 0 5px;
  font-weight: bold;
}

/* line 311, ../sass/new.scss */
.graytxt {
  color: #4C4C4C;
}

/* line 315, ../sass/new.scss */
.advisory {
  margin-bottom: 30px;
}
/* line 317, ../sass/new.scss */
.advisory span {
  font-size: 12px;
  color: #5b5b5b;
  display: block;
  line-height: 1.4;
}
/* line 323, ../sass/new.scss */
.advisory a {
  color: #000;
  text-decoration: underline;
}

/* line 329, ../sass/new.scss */
.redtxt {
  color: #BB0C35;
}

/* line 336, ../sass/new.scss */
.nav-bar li span.spriteArrow {
  background: url("../images/spriteArrow.jpg");
  height: 39px;
  width: 28px;
  display: inline-block;
  float: left;
}
/* line 343, ../sass/new.scss */
.nav-bar li span.number-menu {
  padding: 3px 8px;
}
/* line 347, ../sass/new.scss */
.nav-bar li:hover {
  background: transparent;
  cursor: pointer;
}
/* line 350, ../sass/new.scss */
.nav-bar li:hover a {
  color: #fff;
}
/* line 353, ../sass/new.scss */
.nav-bar li:hover span.number-menu {
  color: #bbb;
}
/* line 357, ../sass/new.scss */
.nav-bar li.active {
  background: #BB0C35;
}
/* line 359, ../sass/new.scss */
.nav-bar li.active:last-child {
  float: right;
}
/* line 363, ../sass/new.scss */
.nav-bar li.active span.spriteArrow {
  background-position: 0 -40px;
}
/* line 369, ../sass/new.scss */
.nav-bar li.active + li span.spriteArrow {
  background-position: 0 -80px;
}

/* line 379, ../sass/new.scss */
.doctype-data {
  width: 45%;
  float: left;
  height: 80px;
  display: inline-block;
}

/* line 386, ../sass/new.scss */
.docnumber-data {
  width: 38%;
  float: right;
  height: 80px;
  display: inline-block;
}

/* line 393, ../sass/new.scss */
.caption, caption {
  color: #808080;
  margin: 10px 0;
  display: block;
  font-size: .8em;
  line-height: 1.4em;
}

/* line 401, ../sass/new.scss */
.block {
  display: block;
  height: 80px;
}

/* line 406, ../sass/new.scss */
input[type="file"] {
  margin: 15px 0;
}

/* line 411, ../sass/new.scss */
img.selected {
  border: 0;
  -webkit-box-shadow: rgba(187, 12, 53, 0.2) 0 0 10px;
  -moz-box-shadow: rgba(187, 12, 53, 0.2) 0 0 10px;
  box-shadow: rgba(187, 12, 53, 0.2) 0 0 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 430, ../sass/new.scss */
.artBO {
  background: url("../images/sprite_new.png") 0 0;
  display: inline-block;
  text-indent: -9999px;
  height: 78px;
  width: 145px;
  margin: 20px 10px;
}
/* line 423, ../sass/new.scss */
.artBO else {
  background: url("../images/sprite_new2x.png") 0 0;
}

/* line 436, ../sass/new.scss */
.ccB {
  background: url("../images/sprite_new.png") -150px 0;
  display: inline-block;
  text-indent: -9999px;
  height: 70px;
  width: 140px;
  margin: 20px 10px;
  float: right;
}
/* line 423, ../sass/new.scss */
.ccB else {
  background: url("../images/sprite_new2x.png") -150px 0;
}

/* line 444, ../sass/new.scss */
.stand-items img.images {
  margin-top: 10px;
}

/* line 449, ../sass/new.scss */
input[type="text"].legal {
  display: inline-block;
  width: 300px;
}
/* line 453, ../sass/new.scss */
input[type="text"].doc {
  display: inline-block;
  width: 200px;
}

/* line 460, ../sass/new.scss */
.documents h4 {
  margin-top: 0;
}

/* line 465, ../sass/new.scss */
.sub-menu {
  margin: 5px 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 472, ../sass/new.scss */
  .artBO {
    display: inline-block;
    text-indent: -9999px;
  }
  /* line 423, ../sass/new.scss */
  .artBO else {
    background: url("../images/sprite_new2x.png") 0 0;
  }

  /* line 475, ../sass/new.scss */
  .ccB {
    display: inline-block;
    text-indent: -9999px;
  }
  /* line 423, ../sass/new.scss */
  .ccB else {
    background: url("../images/sprite_new2x.png") 0 0;
  }
}
/* line 481, ../sass/new.scss */
.reveal-modal {
  background-color: #e8e8e8;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;
  top: 0;
  right: 0;
  left: 0;
}

/* line 492, ../sass/new.scss */
.qq-upload-button {
  width: 150px;
  background: white;
  border: 0;
  border-bottom: 4px solid #e1e1e1;
  padding: 7px 10px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 5px;
  font-weight: bold;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 508, ../sass/new.scss */
.qq-upload-button:hover {
  border-bottom: 4px solid gray;
}

/* line 513, ../sass/new.scss */
.qq-drop-processing {
  display: none;
}

/* line 517, ../sass/new.scss */
.qq-upload-finished {
  padding: 0;
}

/* line 521, ../sass/new.scss */
.qq-upload-drop-area {
  height: 20px;
  display: inline-block;
  padding: 5px;
}

/* line 528, ../sass/new.scss */
ul.qq-upload-list li {
  list-style-type: none;
}
/* line 531, ../sass/new.scss */
ul.qq-upload-list li span.qq-upload-file, ul.qq-upload-list li span.qq-upload-cancel, ul.qq-upload-list li span.qq-upload-retry, ul.qq-upload-list li span.qq-upload-delete {
  padding: 0 5px;
}
/* line 534, ../sass/new.scss */
ul.qq-upload-list li span.qq-upload-size {
  padding: 0px;
  font-size: 19px;
}
/* line 539, ../sass/new.scss */
ul.qq-upload-list li a {
  padding: 0 10px;
}

/* line 545, ../sass/new.scss */
.languages {
  position: relative;
  height: 15px;
  margin-bottom: 10px;
}
/* line 546, ../sass/new.scss */
.languages span.label {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 20px;
}
/* line 551, ../sass/new.scss */
.languages a {
  color: #fff;
}

/* line 560, ../sass/new.scss */
.standname-data input {
  display: none;
}
